name: swagger
on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened
jobs:
  swagger:
    name: swagger
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: cache vendor
        id: cache
        uses: actions/cache@v4
        with:
          path: ./vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
          ini-values: opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=64M
      - name: composer install
        if: steps.cache.outputs.cache-hit != 'true'
        run: composer install -n --prefer-dist
      - name: composer dump autoload
        run: composer dump-autoload
      - name: test
        run: php artisan l5-swagger:generate
